/* PT Serif Font */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-tech {
  background-color: #7a87ff;
  width: 100%;
  height: 60px;
  padding: 10px 50px;
}

.img-logo {
  height: 40px;
}

.nav-tech {
  display: flex;
  justify-content: space-between;
}

.nav-tech ul {
  display: flex;
  list-style: none;
}

.li-button {
  width: 210px;
  height: 40px;
  border-radius: 5px;
  background-color: #4256ff;
  border: 2px solid #fff;
  margin: 0 5px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
}

.ico-tech {
  color: #252853;
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 100%;
  margin: 0 10px;
}

.a-white {
  font-family: "PT Serif", serif;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.content {
  margin-top: 5px;
  display: flex;
}

.sidebar {
  background-color: #9fa9ff;
  width: 210px;
  height: 100vw;
}

.ul-sidebar {
  display: flex;
  flex-direction: column;
}

.li-sidebar {
  width: 100%;
  border-bottom: 2px solid white;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
}

#li-activo {
  background-color: #7a87ff;
}

.title-test-aprendizaje {
  background-color: #9fa9ff;
  text-transform: uppercase;
  text-align: center;
  width: 210%;
  padding: 15px;
  margin: 15px 50px;
}

.question {
  background-color: #9fa9ff;
  text-align: center;
  width: 210%;
  padding: 15px 15px;
  margin: 10px 50px;
}

.alternatives {
  text-align: center;
}

.button {
  color: #fff;
  background-color:  #4256ff;
  border: none;
  padding: 15px 15px;
  margin: 10px 50px;
  cursor: pointer;
}